*, *::after, *::before {box-sizing: border-box;}

:root {
    --Primary-color-Dark-cyan: hsl(158, 36%, 37%);
    --Primary-color-cream: hsl(30, 38%, 92%);
    --Neutral-color-Very-dark-blue: hsl(212, 21%, 14%);
    --Neutral-color-Dark-grayish-blue: hsl(228, 12%, 48%);
    --Neutral-color-White: hsl(0, 0%, 100%);
    --primary-font-family: 'Fraunces', serif;
    --secondry-font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Primary-color-cream);
}

.price-container, main {
    display: flex;
    
    
}

main {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Primary-color-cream);
    width: 90%; 
    margin: auto;   
}

.collum-one {
    height: 250px;
    background-image: url('images/image-product-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.collum-two {
    background: var(--Neutral-color-White);
    padding: 0 1.5em 1.5em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* typograpy */

.perfume {
    font-family: var(--secondry-font-family);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--Neutral-color-Dark-grayish-blue);

}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    line-height: 1;
    color: var(--Neutral-color-Very-dark-blue);
}

.article {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--Neutral-color-Dark-grayish-blue);
    font-family: var(--secondry-font-family);
}

.price {
    font-family: var(--primary-font-family);
    font-weight: 700;
    color: var(--Primary-color-Dark-cyan);
}

.price-container {
    gap: 1.5em;
}

.price-container p {
    font-weight: 500;
    color: var(--Neutral-color-Dark-grayish-blue);
    font-size: 0.875rem;
    text-decoration: line-through;
}


button {
    width: 100%;
    font-family: var(--secondry-font-family);
    font-weight: 700;
    font-size: 0.875rem;
    padding: 1em;
    border: none;
    background-color: var(--Primary-color-Dark-cyan);
    color: var(--Neutral-color-White);
    border-radius: 10px;
}

button img {
  padding-right: .5em; 
}

@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: max-content;
        width: 100%;
        max-width: 600px;
    }

    .collum-one {
        background-image: url('images/image-product-desktop.jpg');
        background-size: cover;
        background-position: center;
        height: auto;
        object-fit: fill;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;

    }

    .collum-two {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }

    .perfume {
        margin-top: 1.5em;
        font-size: .7rem;
    }

    h1 {
        font-size: 2.5rem;
        letter-spacing: 0px;

    }
}